/*
Name: OM Starter HTML Template
URI: https://github.com/dtux0986/om-starter-html-template.git
Author: Tu Dinh Xuan
Author URI: #
Description: OM Starter HTML Template
Version: 1.0.0
Text Domain: om
Domain Path: /languages/
Tags: free, html5, css3, responsive, template, responsive
License: GNU General Public License v3.0
License URI: license.txt
*/

@import "helpers/variables";
@import "helpers/mixins";

@import "base/global";
@import "base/grid";
@import "base/elements";

@import "vendors/bootstrap";
@import "vendors/slick";
@import "vendors/scrollmagic";

@import "components/content-block";
@import "components/navigations";
@import "components/carousel";
@import "components/parallax";
@import "components/service-boxes";
@import "components/subscription";
@import "components/modal";
@import "components/misc";

@import "layout/header";
@import "layout/pages";
@import "layout/footer";
