/**
 * FOOTER
 * -------------------------------------------------- */

.site-footer {
  background-color: $gray-900;

  &__top {

  }

  &__main {

  }

  &__bottom {
    background-color: $black;
    padding: 1rem 0;
  }

  /* Listing Element */
  .o-listing {
    .o-listing__wrapper {

    }
    .o-listing__title {

    }
  }

  /* Copyright Component */
  .o-copyright {
    font-size: 0.875rem;
    p {
      margin-bottom: 0;
    }
  }

  /* Footer Menu */

  .o-footer-menu {
    ul {
      li {
        a {

        }
      }
    }
  }
}