/**
 * Carousel
 * -------------------------------------------------- */

.o-carousel {

  &__wrapper {
    background: url('../../build/images/bg.svg');
    background-position: center;
    background-size: cover;
    color: $white;
  }

  &__inner {
    height: 500px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }

  &__logo {
    img {
      max-width: 18.75rem; /*300px*/
    }
  }

  &__title {
    margin-bottom: 1.625rem; /* 26px */

    h1 {
      font-weight: 700;
      color: $white;
    }
  }

  &__caption {
    margin-bottom: 2.5625rem; /* 41px */
  }
}