/**
 * Carousel
 * -------------------------------------------------- */

.o-carousel {

  &__wrapper {
    color: $white;
    text-align: left;
  }

  &__inner {

  }

  &__logo {
    img {
      max-width: 18.75rem; /*300px*/
    }
  }

  &__title {
    margin-bottom: 1.625rem; /* 26px */

    h1 {
      font-weight: 700;
      color: $white;
    }
  }

  &__caption {
    margin-bottom: 2.5625rem; /* 41px */
  }
}