/**
 * CAROUSEL
 * -------------------------------------------------- */

.o-carousel {
  background-color: #f5f5f5;

  &__wrapper {

  }

  &__inner{
    height: 75vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &__title {

  }

  &__sub {

  }
}