/**
 * Misc
 * -------------------------------------------------- */

/* Branding */
.o-branding {
  margin-right: 2.25rem; /* 36px */

  h3 {
    margin-bottom: 0;
  }
  a {
    color: $white;
  }
}

/* Socials */
.o-socials {
  margin-right: 2rem;

  @media (max-width: 767px) {
    display: none;
  }

  ul {
    li {
      margin-right: 1rem;
      margin-bottom: 0;
      display: inline-block;
      list-style-type: none;

      svg {
        color: $white;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


/* Search */
.o-search {
  margin-right: 2rem;

  @media (max-width: 767px) {
    display: none;
  }

  a {
    color: $white;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

/* Call to Action */
.o-button {
  @media (max-width: 767px) {
    display: none;
  }
}

/* Copyright */
.o-copyright {
  p {
    margin-bottom: 0;
  }
}