/**
 * NAVIGATION
 * -------------------------------------------------- */

/* Top Navigation */
.o-top-navigation {
  .o-top-navigation__wrapper {
    background-color: $gray-900;
  }

  .o-top-menu {}

  nav.site-navigation--top {

  }

  ul.nav {
    li.nav-item {
      margin: 0;

      a.nav-link {
        font-size: 0.75rem; /*12px*/
        text-transform: uppercase;
        color: $white;
      }
    }
    li.dropdown {
      .dropdown-menu {
        a.dropdown-item {

        }
      }
    }
  }

}

/* Main Navigation */
.o-main-navigation {
  .o-main-navigation__wrapper {
    background-color: $black;
  }

  .o-main-menu {}

  nav.site-navigation--main {
    min-height: 6.25rem; /*100px*/
  }

  ul.nav {
    li.nav-item {
      margin: 0;

      a.nav-link {
        font-weight: 700;
        color: $white;
      }
    }
    li.dropdown {
      .dropdown-menu {
        padding: 0;
        border: none;

        a.dropdown-item {
          padding: .5rem 1rem;
          font-size: 0.875rem;
          font-weight: 300;
        }
      }
    }
  }
}

/* Footer Navigation */
.o-footer-navigation {
  .o-footer-navigation__wrapper {
    background-color: $gray-900;
  }

  .o-top-menu {}

  nav.site-navigation--top {

  }

  ul.nav {
    li.nav-item {
      margin: 0;

      a.nav-link {
        font-size: 0.75rem; /*12px*/
        text-transform: uppercase;
        color: $white;
      }
    }
    li.dropdown {
      .dropdown-menu {
        a.dropdown-item {

        }
      }
    }
  }

}

