/**
 * Parallax
 * -------------------------------------------------- */

.o-parallax {
  height: 500px; /*650px*/
  overflow: hidden;

  &__wrapper {
    width: 100%;
    height: 100%;
    background-color: $black;
    position: relative;
    color: $white;
  }

  /*Content Group Override*/
  .o-content-group {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 9;
    transform: translateY(-50%);

    &__title {

    }

    &__caption {

    }

    &__action {

    }
  }

  &__background {
    height: 150%;
    background-position: center;
    background-size: cover;
    position: relative;
    top: -50%;
  }
}