/**
 * MEDIA
 * -------------------------------------------------- */

.o-welcome {

  &__wrapper {
    text-align: center;
  }

  &__title {
    margin-bottom: 2.5rem;

    h4 {
      font-size: 3rem;
      font-weight: 200;
      text-transform: uppercase;
    }
  }

  &__summary {

  }
}