/**
 * Global
 * -------------------------------------------------- */

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: 300;
  line-height: $line-height-base;
  color: $gray-700;
}

/* Paragraphs */

a {
  color: $primary;
  transition: color 200ms ease;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

p {
  margin-bottom: 0.625rem;
}

pre {

}

blockquote {

}

address {

}

hr {

}

/* Image */

img {
  max-width: 100%;
  height: auto;
}

/* Button */

button {

}

button[type="button"],
button[type="submit"],
button[type="reset"] {

}

/* Forms */

form {

}

input {
  width: 100%;
  outline: none;
  font-size: 0.75rem; /*12px*/
}

/* Input Button Type */

input {
  &[type="submit"],
  &[type="button"],
  &[type="reset"] {
    width: auto;
    background-color: $primary;
    display: inline-block;
    padding: 1rem 2rem; /*16px 32px */
    font-family: $font-family-sans-serif;
    font-size: 0.875rem; /*12px*/
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
    color: $white;
    border-radius: 0.625rem;
    border: none;
  }

  /* Reset Button Customized */
  &[type="reset"] {
    background-color: $orange;
    color: $primary;
    border: none;
  }
}

/* File Uploads Button */

input {
  &[type="file"] {
    background-color: $gray-100;
    padding: 1rem 2rem; /*16px 32px */
  }
}

input {
  &[type="text"],
  &[type="date"],
  &[type="email"],
  &[type="month"],
  &[type="number"],
  &[type="password"],
  &[type="image"],
  &[type="search"],
  &[type="tel"],
  &[type="time"],
  &[type="url"],
  &[type="week"] {
    padding: 1rem 2rem; /*16px 32px */
    border-radius: 0.3125rem; /*5px*/
    border: 1px solid $gray-200;
  }
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    width: auto;
  }
}

input {
  &[type="color"] {
    width: 1.625rem; /*26px*/
    height: 1.875rem; /*30px*/
    background: $white;
    display: inline-block;
    padding: 0;
    border: none;
  }
}

textarea {

}

/* Lists */

ol, ul {
  margin: 0;
  padding: 0 0 0 1.125rem; /*18px*/
}

li {

}

li:not(:last-child) {
  margin-bottom: 0.3125rem;
}

/* Typography */

/* Headlines */

h1, .h1 {
  font-family: $headings-font-family;
  font-size: 3.75rem; /* 60px */
  line-height: 4.5rem; /* 72px */
  font-weight: 700;
  margin-bottom: 0.625rem; /* 10px */
  color: $black;
}

h2, .h2 {
  font-family: $headings-font-family;
  font-size: 3rem; /* 48px */
  line-height: 3.875rem; /* 62px */
  font-weight: 700;
  margin-bottom: 0.625rem; /* 10px */
  color: $black;
}

h3, .h3 {
  font-family: $headings-font-family;
  font-size: 1.9375rem; /* 36px */
  line-height: 3.25rem; /* 50px */
  font-weight: 700;
  margin-bottom: 0.625rem; /* 10px */
  color: $black;
}

h4, .h4 {
  font-family: $headings-font-family;
  font-size: 1.5rem; /* 24px */
  line-height: 2.25rem; /* 36px */
  font-weight: 700;
  margin-bottom: 0.625rem; /* 10px */
  color: $black;
}

h5, .h5 {
  font-family: $headings-font-family;
  font-size: 1.125rem; /* 18px */
  line-height: 1.8125rem; /* 29px */
  font-weight: 700;
  margin-bottom: 0.625rem;
  color: $black;
}

h6, .h6 {
  font-family: $headings-font-family;
  font-size: $font-size-base; /* 16px */
  line-height: $line-height-base; /* 26px */
  font-weight: 700;
  margin-bottom: 0.625rem; /* 10px */
  color: $black;
}