/**
 * GLOBAL
 * -------------------------------------------------- */

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

/* Headlines */

h1 {
  font-size: 48px;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

/* Image */

img {
  max-width: 100%;
  height: auto;
}